.site-header {
	background: $teal;
	color: $white;
	padding: 48px 0;

	@include tablet-landscape {
		padding: 72px 0;
	}

	.site-logo {
		grid-column: 2 / span 2;

		@include tablet-landscape {
			grid-column: 2 / span 3;
		}

		a {
			display: block;
		}
	}

	.site-title {
		padding-top: 24px;

		@include mobile-landscape {
			padding-top: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			grid-column: 4 / span 6;
		}

		@include tablet-portrait {
			grid-column: 5 / span 5;
		}

		@include tablet-landscape {
			grid-column: 6 / span 8;
		}

		h1 {
			font-weight: 400;
			font-size: 1.5rem;

			@include tablet-landscape {
				font-size: 2.5rem;
			}
		}

		h2 {
			padding-top: 10px;
			font-weight: 700;
			font-size: 1.25rem;

			@include tablet-landscape {
				padding-top: 20px;
				font-size: 1.75rem;
			}
		}
	}
}