/*

    Theme Name: San Jose Downtown West
    Theme URI: https://sanjosedowntownwestadminrecord.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of San Jose Downtown West Theme
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* HTML5 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Border-Box */
* {
  box-sizing: border-box; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Open Sans", sans-serif; }

::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 768px) {
    .wrapper {
      padding: 0 50px; } }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.site-content {
  min-height: 100vh; }

.grid {
  display: grid;
  gap: 0 32px;
  grid-template-columns: minmax(0, auto) repeat(4, minmax(auto, 1fr)) minmax(0, auto); }
  .grid > * {
    grid-column: 2 / span 4; }
  @media screen and (min-width: 568px) {
    .grid {
      grid-template-columns: minmax(0, auto) repeat(8, minmax(auto, 1fr)) minmax(0, auto); }
      .grid > * {
        grid-column: 2 / span 8; } }
  @media screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: minmax(0, auto) repeat(12, minmax(auto, 71px)) minmax(0, auto); }
      .grid > * {
        grid-column: 2 / span 12; } }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  background: #07414c;
  color: #fff;
  padding: 48px 0; }
  @media screen and (min-width: 1024px) {
    .site-header {
      padding: 72px 0; } }
  .site-header .site-logo {
    grid-column: 2 / span 2; }
    @media screen and (min-width: 1024px) {
      .site-header .site-logo {
        grid-column: 2 / span 3; } }
    .site-header .site-logo a {
      display: block; }
  .site-header .site-title {
    padding-top: 24px; }
    @media screen and (min-width: 568px) {
      .site-header .site-title {
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 4 / span 6; } }
    @media screen and (min-width: 768px) {
      .site-header .site-title {
        grid-column: 5 / span 5; } }
    @media screen and (min-width: 1024px) {
      .site-header .site-title {
        grid-column: 6 / span 8; } }
    .site-header .site-title h1 {
      font-weight: 400;
      font-size: 1.5rem; }
      @media screen and (min-width: 1024px) {
        .site-header .site-title h1 {
          font-size: 2.5rem; } }
    .site-header .site-title h2 {
      padding-top: 10px;
      font-weight: 700;
      font-size: 1.25rem; }
      @media screen and (min-width: 1024px) {
        .site-header .site-title h2 {
          padding-top: 20px;
          font-size: 1.75rem; } }

/*

    ----------------------------------------------------------------------
                                03 Templates
    ----------------------------------------------------------------------

*/
body.home section.intro {
  padding: 48px 0; }
  @media screen and (min-width: 568px) {
    body.home section.intro {
      padding: 72px 0; } }
  @media screen and (min-width: 568px) {
    body.home section.intro .info {
      grid-column: 4 / span 6; } }
  @media screen and (min-width: 768px) {
    body.home section.intro .info {
      grid-column: 5 / span 5; } }
  @media screen and (min-width: 1024px) {
    body.home section.intro .info {
      grid-column: 6 / span 8; } }
  body.home section.intro .copy h3 {
    color: #00657f;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.375rem;
    padding-bottom: 16px; }
    @media screen and (min-width: 1024px) {
      body.home section.intro .copy h3 {
        font-size: 1.75rem; } }
  body.home section.intro .copy p {
    font-size: 1rem;
    line-height: 1.5em; }
    @media screen and (min-width: 1024px) {
      body.home section.intro .copy p {
        font-size: 1.125rem;
        line-height: 1.75em; } }
  body.home section.intro .copy p + p {
    padding-top: 24px; }
  body.home section.intro .copy p + h3 {
    padding-top: 48px; }
  body.home section.intro .copy a {
    color: #158081;
    text-decoration: underline; }

body.home section.filter {
  background: #07414c;
  color: #fff;
  padding: 48px 0; }
  @media screen and (min-width: 1024px) {
    body.home section.filter form {
      grid-column: 5 / span 7; } }
  body.home section.filter form .filter-input {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  body.home section.filter form label {
    width: 100%;
    display: block;
    padding-bottom: 10px;
    font-size: 1.125rem;
    font-weight: 300; }
  body.home section.filter form input[type="search"] {
    flex: 1;
    background: #33616d;
    border: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.25rem;
    color: #fff;
    padding: 0 10px; }
    body.home section.filter form input[type="search"]::-webkit-input-placeholder {
      color: #fff; }
    body.home section.filter form input[type="search"]::-moz-placeholder {
      color: #fff; }
    body.home section.filter form input[type="search"]:-moz-placeholder {
      color: #fff; }
    body.home section.filter form input[type="search"]:-ms-input-placeholder {
      color: #fff; }
    body.home section.filter form input[type="search"]:active, body.home section.filter form input[type="search"]:focus {
      outline: none; }
  body.home section.filter form button {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: transparent url(images/search.svg) no-repeat center center;
    background-size: 16px 16px;
    width: 30px;
    height: 30px;
    border: none;
    text-indent: -9999px; }
    body.home section.filter form button:active, body.home section.filter form button:focus {
      outline: none; }

body.home section.documents {
  padding: 16px 0 32px 0;
  background: #f2f2f2; }
  @media screen and (min-width: 568px) {
    body.home section.documents {
      padding: 32px 0 32px 0; } }

@media screen and (min-width: 1024px) {
  body.home .documents-categories {
    grid-column: 2 / span 3; }
    body.home .documents-categories .sticky-wrapper {
      position: -webkit-sticky;
      position: sticky;
      top: 16px; } }

body.home .documents-categories .section-header {
  background: #158081;
  color: #fff;
  padding: 20px; }
  body.home .documents-categories .section-header h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.125rem; }

body.home .documents-categories .categories-list {
  padding: 32px 20px; }
  body.home .documents-categories .categories-list h5 {
    padding-bottom: 12px;
    font-style: italic;
    font-size: 1rem; }
  body.home .documents-categories .categories-list ul li {
    padding: 12px 0; }
  body.home .documents-categories .categories-list ul a {
    display: inline-block;
    color: #00809c;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.25em; }
    body.home .documents-categories .categories-list ul a:hover {
      text-decoration: underline; }

body.home .documents-list {
  background: #fff;
  overflow-x: auto; }
  @media screen and (min-width: 1024px) {
    body.home .documents-list {
      grid-column: 5 / span 9; } }
  body.home .documents-list table thead {
    background: #158081;
    color: #fff;
    text-align: left; }
    body.home .documents-list table thead th {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.125rem;
      padding: 20px 20px; }
      body.home .documents-list table thead th.cat {
        padding-left: 10px; }
  body.home .documents-list table tbody td {
    padding: 20px 10px;
    vertical-align: middle; }
  body.home .documents-list table tbody .cat-header {
    background: #f2f2f2;
    font-weight: bold;
    font-size: 1.125rem;
    border-bottom: 1px solid #ccc; }
  body.home .documents-list table tbody tr.file td {
    font-size: 0.875rem;
    line-height: 1.25em;
    border-bottom: 1px solid #ccc; }
    body.home .documents-list table tbody tr.file td + td {
      border-left: 1px solid #ccc; }
    body.home .documents-list table tbody tr.file td a {
      color: #00809c;
      font-weight: bold; }
      body.home .documents-list table tbody tr.file td a:hover {
        text-decoration: underline; }
  body.home .documents-list table tbody tr.file + tr.header-row td {
    padding-top: 48px; }
  body.home .documents-list table .date {
    min-width: 100px; }
  body.home .documents-list table .author {
    max-width: 250px; }
  body.home .documents-list table .title {
    min-width: 100px; }
  body.home .documents-list table .pdf {
    min-width: 80px; }
  body.home .documents-list table .pdf {
    text-align: center; }
