.documents-categories {

	@include tablet-landscape {
		grid-column: 2 / span 3;

		.sticky-wrapper {
			position: sticky;
			top: 16px;
		}

	}

	.section-header {
		background: $green;
		color: $white;
		padding: 20px;

		h4 {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1.125rem;
		}
	}

	.categories-list {
		padding: 32px 20px;

		h5 {
			padding-bottom: 12px;
			font-style: italic;
			font-size: 1rem;
		}

		ul {
			li {
				padding: 12px 0;
			}

			a {
				display: inline-block;
				color: $light-blue;
				font-weight: bold;
				font-size: 1rem;
				line-height: 1.25em;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}	
}