.documents-list {
	background: $white;
	overflow-x: auto;

	@include tablet-landscape {
		grid-column: 5 / span 9;
	}

	table {

		thead {
			background: $green;
			color: $white;
			text-align: left;

			th {
				font-weight: bold;
				text-transform: uppercase;
				font-size: 1.125rem;
				padding: 20px 20px;

				&.cat {
					padding-left: 10px;
				}
			}
		}

		tbody {
			td {
				padding: 20px 10px;
				vertical-align: middle;
			}

			.cat-header {
				background: $off-white;
				font-weight: bold;
				font-size: 1.125rem;
				border-bottom: 1px solid #ccc;
			}

			tr.file {
				td {
					font-size: 0.875rem;
					line-height: 1.25em;
					border-bottom: 1px solid #ccc;

					& + td {
						border-left: 1px solid #ccc;
					}

					a {
						color: $light-blue;
						font-weight: bold;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			tr.file + tr.header-row {
				td {
					padding-top: 48px;
				}
			}
		}

		.date {
			min-width: 100px;
		}

		.author {
			max-width: 250px;
		}

		.title {
			min-width: 100px;
		}

		.pdf {
			min-width: 80px;
		}

		.pdf {
			text-align: center;
		}
	}	
}