section.filter {
	background: $teal;
	color: $white;
	padding: 48px 0;

	form {
		@include tablet-landscape {
			grid-column: 5 / span 7;
		}

		.filter-input {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		label {
			width: 100%;
			display: block;
			padding-bottom: 10px;
			font-size: 1.125rem;
			font-weight: 300;
		}

		input[type="search"] {
			flex: 1;
			background: $light-teal;
			border: none;
			height: 50px;
			line-height: 50px;
			font-size: 1.25rem;
			color: $white;
			padding: 0 10px;

			@include placeholder {
				color: $white;
			}

			&:active,
			&:focus {
				outline: none;
			}
		}

		button {
			display: block;
			position: absolute;
			right: 10px;
			bottom: 10px;
			background: transparent url(images/search.svg) no-repeat center center;
			background-size: 16px 16px;
			width: 30px;
			height: 30px;
			border: none;
			text-indent: -9999px;

			&:active,
			&:focus {
				outline: none;
			}
		}
	}


}