section.intro {
	padding: 48px 0;

	@include mobile-landscape {
		padding: 72px 0;
	}

	.info {
		@include mobile-landscape {
			grid-column: 4 / span 6;
		}

		@include tablet-portrait {
			grid-column: 5 / span 5;
		}

		@include tablet-landscape {
			grid-column: 6 / span 8;
		}
	}


	.headline {


	}

	.copy {

		h3 {
			color: $blue;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1.375rem;
			padding-bottom: 16px;

			@include tablet-landscape {
				font-size: 1.75rem;
			}
		}

		p {
			font-size: 1rem;
			line-height: 1.5em;

			@include tablet-landscape {
				font-size: 1.125rem;
				line-height: 1.75em;
			}
		}

		p + p {
			padding-top: 24px;
		}

		p + h3 {
			padding-top: 48px;
		}

		a {
			color: $green;
			text-decoration: underline;
		}

	}
}